/* Red Text */
.red_text {
    color: red;
}

.green_text {
    color: green;
}

#small_font {
    font-size: 12px;
    font-style: italic;
}

/* General page styling */
body {
    max-width: 1200; /* Sets the maximum width of the body content to 1200x*/
    display: flex; /* Defines the body as a flex container, which allows for flexible layout options for its children. */
    flex-direction: column; /* Aligns the flex items (content) in a column, stacking them vertically. */
    align-items: center; /* Centers the flex items (content) horizontally within the body container. */
    justify-content: center; /* Centers the flex items (content) vertically, ensuring equal spacing around them. */
    min-height: 100vh; /* Sets the minimum height of the body to be 100% of the viewport height. Ensures that the body will fill the full screen height. */
    font-family: 'Times New Roman', Times, serif;
    padding: 20px; /* Adds padding of 20 pixels on all sides of the body*/
    box-sizing: border-box; /* Ensures that padding and borders are included in the element's total width and height, preventing overflow issues. */
    border-radius: 10px; /* Rounds the corners of the body’s border with a 10-pixel radius, creating smooth edges. */
    border: 3px solid #333; /* Adds a 3-pixel solid border with a dark gray color (#333) around the body. */
}

/* Text alignment for specific elements */
#c-align {
    text-align: center;
}

/* Center and align header, footer text */
header h1, header p, footer p {
    text-align: center;
}

/* Center and limit the width of content */
header, footer, #Trendline_chart {
    max-width: 1200px; /* Control the width of the content */
    margin: 0 auto; /* Center content horizontally */
}

/* Styling for the Trendline chart */
#Trendline_chart {
    align-items: center;
}

/* Footer styling */
footer {
    padding-top: 20px;
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
}

/* Flexbox layout for the map and chart section */
.flex-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    gap: 20px; /* Add space between elements */
}

/* Text section */
.additional-text {
    padding: 20px;
    background-color: #f9f9f9; /* Optional: add a background for contrast */
    border-radius: 5px; /* Optional: add rounded corners */
}
